{% extends "silk/base/base.html" %}
{% load silk_filters %}
{% load silk_inclusion %}
{% load staticfiles %}
{% block style %}
    <link rel="stylesheet" href="{% static 'silk/css/cell.css' %}"/>
    <link rel="stylesheet" href="{% static 'silk/css/numeric.css' %}"/>
    <link rel="stylesheet" href="{% static 'silk/css/heading.css' %}"/>
    <link rel="stylesheet" href="{% static 'silk/lib/highlight/foundation.css' %}"/>
    <style>

        pre {
            white-space: pre-wrap; /* css-3 */
            white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
            /*noinspection CssInvalidElement*/
            white-space: -pre-wrap; /* Opera 4-6 */
            white-space: -o-pre-wrap; /* Opera 7 */
            word-wrap: break-word; /* Internet Explorer 5.5+ */
        }

        #request-summary {

        }

        .cell {
            background-color: transparent;
            margin-top: 15px;
        }

        div.wrapper {
            width: 100%;
        }

        div.wrapper div#request-summary {
            margin: auto;
            text-align: center;
            width: 100%;
        }

        div.wrapper div#request-info {
            width: 960px;
            margin: auto auto 20px;
        }

        a {
            color: #45ADA8;
        }

        a:visited {
            color: #45ADA8;
        }

        a:hover {
            color: #547980;
        }

        a:active {
            color: #594F4F;
        }

        .headers {
            font-size: 12px;
            font-family: Fantasque;
            background-color: white;
            width: 100%;
        }

        .headers tr:hover {
            background-color: #f4f4f4;
        }

        .headers td {
            padding-bottom: 5px;
            padding-left: 5px;
        }

        .headers .key {
            font-weight: bold;
        }

        .headers .value {

        }


    </style>
{% endblock %}
{% block js %}
    <script src="{% static 'silk/lib/highlight/highlight.pack.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="{% static 'silk/js/cell.js' %}"></script>
{% endblock %}
{% block onload %}
{% endblock %}

{% block menu %}
    {% request_menu request silk_request %}
{% endblock %}

{% block data %}
    <div class="wrapper">
        <div id="request-summary">
            {% request_summary silk_request %}
        </div>
        <div id="request-info">
            {% if query_params %}
                {% heading 'Query Parameters' %}
                <pre><code>{{ query_params }}</code></pre>
            {% endif %}
            {% heading 'Request Headers' %}
            <table class="headers">
                {% for k,v in silk_request.headers.items %}
                    <tr>
                        <td class="key">{{ k.upper }}</td>
                        <td class="value">{{ v }}</td>
                    </tr>
                {% endfor %}
            </table>


            {% if silk_request.response.headers %}
                {% heading 'Response Headers' %}
                <table class="headers">
                    {% for k, v in silk_request.response.headers.items %}
                        <tr>
                            <td class="key">{{ k.upper }}</td>
                            <td class="value">{{ v }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
